In [38]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [39]:
data=pd.read_csv('C:/Users/Amruth PC/Desktop/SEM 2/AI/data/iris.csv')

In [40]:
Y=data.iloc[:,4]

In [41]:
# Get one hot encoding of columns B
one_hot = pd.get_dummies(data['species'], prefix = 'species')
# Drop column B as it is now encoded
data = data.drop('species',axis = 1)
# Join the encoded df
data = data.join(one_hot)

In [42]:
data.head()

,petallength,petalwidth,sepallength,sepalwidth,species_0,species_1,species_2
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [43]:
data

,petallength,petalwidth,sepallength,sepalwidth,species_0,species_1,species_2
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [44]:
X_input=data[['petallength','petalwidth','sepallength','sepalwidth']]
Y_label = data[['species_0','species_1','species_2']]

In [45]:
x=tf.placeholder(tf.float32,[None,4])
y=tf.placeholder(tf.float32,[None,3])

In [46]:
#weights and bias
weight1=tf.Variable(tf.truncated_normal([4,300],stddev=0.1))

bias1=tf.Variable(tf.truncated_normal([300],stddev=0.1))
#input function
#mult=tf.matmul(x,weight)
#I=tf.add(mult,bias)
Input1=tf.add(tf.matmul(x,weight1),bias1)

#activation function
output1=tf.nn.relu(Input1)

In [47]:
#weights and bias
weight2=tf.Variable(tf.truncated_normal([300,200],stddev=0.1))

bias2=tf.Variable(tf.truncated_normal([200],stddev=0.1))
#input function
#mult=tf.matmul(x,weight)
#I=tf.add(mult,bias)
Input2=tf.add(tf.matmul(output1,weight2),bias2)

#activation function
output2=tf.nn.relu(Input2)

In [48]:
#weights and bias
weight3=tf.Variable(tf.truncated_normal([200,50],stddev=0.1))

bias3=tf.Variable(tf.truncated_normal([50],stddev=0.1))
#input function
#mult=tf.matmul(x,weight)
#I=tf.add(mult,bias)
Input3=tf.add(tf.matmul(output2,weight3),bias3)

#activation function
output3=tf.nn.relu(Input3)

In [49]:
#weights and bias
weight4=tf.Variable(tf.truncated_normal([50,3],stddev=0.1))

bias4=tf.Variable(tf.truncated_normal([3],stddev=0.1))
#input function
#mult=tf.matmul(x,weight)
#I=tf.add(mult,bias)
Input4=tf.add(tf.matmul(output3,weight4),bias4)

#activation function
output4=tf.nn.softmax(Input4)

In [50]:
individual_loss=tf.nn.softmax_cross_entropy_with_logits_v2(labels=y,logits=output4)
loss=tf.reduce_mean(individual_loss)

gdo=tf.train.GradientDescentOptimizer(learning_rate=0.01)
train=gdo.minimize(loss)

In [51]:
init=tf.global_variables_initializer()

In [52]:
sess=tf.Session()
sess.run(init)

In [53]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [54]:
for i in range(10000):
    sess.run(train,feed_dict={x:X_input,y:Y_label})

In [55]:
result=sess.run(output4,feed_dict={x:X_input})

In [56]:
result=sess.run(tf.argmax(result,1))
result

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [57]:
accuracy_score(result,Y)

0.98

In [58]:
confusion_matrix(result,Y)

array([[50,  0,  0],
       [ 0, 47,  0],
       [ 0,  3, 50]], dtype=int64)