In [1]:
from scipy.stats import ttest_1samp
import numpy as np

## One Sample T Test

In [2]:
age=[30,40,35,56,70,34,56,78,90,78,34,34,45,56]
tstat,pval=ttest_1samp(age,60)
print(tstat)
print(pval)

-1.4031208963556832
0.18401189713639968

## Two sample T test

In [3]:
from scipy.stats import ttest_ind
import numpy as np

In [4]:
age1=[30,40,35,56,70,34,56,78,90,78,34,34,45,56]
age2=[30,34,45,67,78,90,45,67,80,76,32,34]
tstat,pval=ttest_ind(age1,age2)
print(tstat,pval)

-0.47929967252958106 0.6360640311214152

In [5]:
import pandas as pd

In [22]:
data=pd.read_csv('C:/Users/Amruth PC/Desktop/EDA/Internship Survey.csv')
data.head()

,Pre1,Post1,Pre2,Post2,Pre3,Post3,Pre4,Post4,Pre5,Post5,...,Pre7,Post7,Pre8,Post8,Pre9,Post9,Pre10,Post10,Unnamed: 20,Unnamed: 21
0,4.0,4.0,3.0,8.0,9,8.0,6.0,6.0,7.0,7.0,...,8.0,8.0,8.0,8.0,9.0,8.0,6.0,6.0,NaN,5.0
1,9.0,8.0,8.0,8.0,10,9.0,9.0,8.0,8.0,8.0,...,9.0,10.0,10.0,9.0,8.0,8.0,8.0,8.0,NaN,5.0
2,6.0,8.0,7.0,10.0,10,10.0,6.0,6.0,9.0,8.0,...,10.0,10.0,10.0,8.0,10.0,10.0,10.0,10.0,NaN,5.0
3,4.0,10.0,0.0,0.0,10,10.0,10.0,10.0,4.0,10.0,...,8.0,10.0,10.0,10.0,10.0,10.0,8.0,10.0,NaN,5.0
4,10.0,10.0,0.0,8.0,0,0.0,10.0,10.0,10.0,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,0.0,0.0,NaN,5.0

In [7]:
tstat1,pval1=ttest_ind(data['Pre1'],data['Post1'])
print(tstat1,pval1)

0.5912981606995154 0.5545243493701177

In [20]:
data['Pre2'].fillna(data['Pre2'].mean(), inplace=True)
data['Post2'].fillna(data['Post2'].mean(), inplace=True)

In [21]:
tstat2,pval2=ttest_ind(data['Pre2'],data['Post2'])
print(tstat2,pval2)

0.8270163851830649 0.40852849202281905

In [23]:
data['Pre3']=pd.to_numeric(data['Pre3'], errors='coerce')
data['Post3']=pd.to_numeric(data['Post3'], errors='coerce')
data['Pre3'].fillna(data['Pre3'].mean(), inplace=True)
data['Post3'].fillna(data['Post3'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre3'],data['Post3'])
print(tstat2,pval2)

0.20925524585919095 0.8343139506564557

In [13]:
data['Pre4'].fillna(data['Pre4'].mean(), inplace=True)
data['Post4'].fillna(data['Post4'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre4'],data['Post4'])
print(tstat2,pval2)

-0.49053969806023345 0.6239160814849805

In [14]:
data['Pre5'].fillna(data['Pre5'].mean(), inplace=True)
data['Post5'].fillna(data['Post5'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre5'],data['Post5'])
print(tstat2,pval2)

-0.16393189036045216 0.8698352554565179

In [15]:
data['Pre6'].fillna(data['Pre6'].mean(), inplace=True)
data['Post6'].fillna(data['Post6'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre6'],data['Post6'])
print(tstat2,pval2)

0.06859820757909049 0.945330349337612

In [16]:
data['Pre7'].fillna(data['Pre7'].mean(), inplace=True)
data['Post7'].fillna(data['Post7'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre7'],data['Post7'])
print(tstat2,pval2)

0.4243512064184311 0.6714488271139224

In [17]:
data['Pre8'].fillna(data['Pre8'].mean(), inplace=True)
data['Post8'].fillna(data['Post8'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre8'],data['Post8'])
print(tstat2,pval2)

0.5186689729683311 0.6041665113420716

In [18]:
data['Pre9'].fillna(data['Pre9'].mean(), inplace=True)
data['Post9'].fillna(data['Post9'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre9'],data['Post9'])
print(tstat2,pval2)

0.45704067897496603 0.6477931138826769

In [19]:
data['Pre10'].fillna(data['Pre10'].mean(), inplace=True)
data['Post10'].fillna(data['Post10'].mean(), inplace=True)
tstat2,pval2=ttest_ind(data['Pre10'],data['Post10'])
print(tstat2,pval2)

-0.14659901254553395 0.8834935723712187